<main class="main-index">
    <h1 class="headline">Books</h1>


    <ul>
      <li>
        <div class="title">Title</div>
      </li>
      <li>
        <div class="body">Body</div>
      </li>
    </ul>
</main>